location / {
    try_files $uri $uri/ =404;
    #autoindex_mod kengaytmasini yoqamiz va qo'shimcha html fayllarni kontentga qo'shamiz
    add_before_body /.html/top.html;
    add_after_body /.html/bot.html;
    autoindex on;
    autoindex_localtime on;
    autoindex_exact_size on;
    #Dublikat teglarni o'chirirish
    sub_filter '<html>' '';
    sub_filter '<head><title>Index of $uri</title></head>' '';
    sub_filter '<body bgcolor="white">' '';
    sub_filter '</body>' '';
    sub_filter '</html>' '';
    sub_filter_once on;
}