/** {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
*::-webkit-scrollbar { 
    display: none;  
}*/

a {
    color: #000;
    text-decoration: none!important;
}

body{
    color: #000;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    /* background: #f8f8f8 url(../images/content-back.png) repeat; */
    background: url(../images/flamingo_yellow.png);
    overflow-x: hidden;
    /* filter: blur(2px); */
    /* -webkit-filter: blur(2px); */
    /* backdrop-filter: blur(5px); */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

pre{
    background-color: #FFFFFF;
    border: 1px solid #3d3d3d;
    width:  725px;
    padding:  9.5px 5px 9.5px 5px;
    margin-top: 20px;
    text-align: left;

    /* filter: blur(8px); */
    /* -webkit-filter: blur(8px); */
    /* backdrop-filter: blur(5px); */
}

pre a{
    display: inline-flex;
}

pre a span{
    margin-left: 5px;
}

#footer{
    margin-top: 20px;
}
#footer a{
    color: #000;
}

hr{
    margin-bottom: 0px;
}

h4 {
    color: #aaa;
    margin-top: 10px;
        font-size: 40%;
}

.header {
    color: #000;
    margin:3px 5px 6px 5px;
}

.icons {
    margin: 2px 5px 3px 5px;
     height: 4%;
     width: 4%;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#mainBox{
    width:755px;
}

.text-center{
    margin-bottom: 20px;
}

#custom-search-form{
    font-size: 15px;
    margin-top: 7px;
}

#custom-search-form input, #custom-search-form button {
    background: transparent;
    color: #000;
    border: 1px solid #2e2e2e;
}

#searchIcon{
    padding: 0px 0px 0px 5px;
    color: #000;
}

.form-group-sm .form-control + .form-control-feedback, .input-group-sm + .form-control-feedback, .input-sm + .form-control-feedback {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.form-group-sm .form-control {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 4px;
}

input.form-control,input.form-control:focus {
    border-color: #AAA;
    box-shadow: none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   -moz-transition: none;
   -webkit-transition: none;
}

#searchclear {
    position: absolute;
    right: 10px;
    top: 11px;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #000;
}

.svg-icon {
    fill: currentColor
}

.svg-file_default,.svg-none {
    fill: #90A4AE
}

.svg-application {
    fill: #0064c8
}

.svg-archive {
    fill: #f8c560
}

.svg-audio {
    fill: #55617e
}

.svg-cd {
    fill: #e9967a
}

.svg-code {
    fill: #f19a3a
}

.svg-excel {
    fill: #94cba2
}

.svg-font,.svg-font .svg-file-icon {
    fill: #607D8B
}

.svg-image {
    fill: #8cbd61
}

.svg-image .svg-file-text-bg {
    fill: #72a645
}

.svg-panorama_variant {
    fill: #8cbd61
}

.svg-pdf {
    fill: #ca4d50
}

.svg-powerpoint {
    fill: #e67841
}

.svg-text {
    fill: #90A4AE
}

.svg-video {
    fill: #ec6068
}

.svg-word {
    fill: #0399e1
}

.svg-open_in_new,.svg-open_in_new .svg-file-icon {
    fill: #90A4AE
}

.svg-file-bg {
    fill: #e9e9e0
}

.svg-file-flip {
    fill: #d9d7ca
}

.svg-file-icon {
    fill: #c8bdb8
}

.svg-file-ext {
    fill: white;
    font-weight: 500;
    text-transform: uppercase;
    text-anchor: middle;
    font-size: 12px
}
.svg-file-bg {
    fill: #e9e9e0;
}
.svg-file-flip {
    fill: #d9d7ca;
}
.svg-file-icon {
    fill: #c8bdb8;
}
.svg-file-ext {
    fill: white;
    font-weight: 500;
    text-transform: uppercase;
    text-anchor: middle;
    font-size: 12px;
}

.svg-folder-bg {
    fill: #FFA000;
}
.svg-folder-fg {
    fill: #FFCA28;
}

.modal .modal-title{
    font-size: inherit;
}

.CodeMirror {
    resize: both;
    min-width: 300px;
    min-height: 200px;
}

::-webkit-resizer {
  border-width: 8px;
  border-style: solid;
  border-color: transparent #212121 #212121 transparent;
}

.modal-dialog { /* Width */
    max-width: 100%;
    width: auto !important;
    display: inline-block;
}

.modal {
  z-index: -1;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.modal-open .modal {
    transition: all ease .2s;
   z-index: 1050;
}

.modal-body {
    position: relative;
    padding: 0px;
}

* {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
* ::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#darkmode {
    height: 34px;
    width: 38px;
    border: 1px solid #ccccccad;
    display: inline-block;
    vertical-align: middle;
    color: #000;
    border-color: #2e2e2e;
    /* background-color: #fff; */
    border-radius: 4px;
    line-height: 0px;

}